h1, h2, h6{
	color: red;
}
p{
	background-color: yellow;
}
.home{
	background-color: green;
}
.placeholder{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
.order-section{
	background-color: #bf3030;
	margin-top: 20px;
}